$primary: #98c847;
$primary-light: lighten($primary, 10%);
$primary-lighter: lighten($primary, 25%);
$primary-lightest: lighten($primary, 50%);
$primary-dark: darken($primary, 10%);
$primary-darker: darken($primary, 25%);
$primary-darkest: darken($primary, 50%);

$secondary: #e5007e;
$secondary-light: lighten($secondary, 10%);
$secondary-lighter: lighten($secondary, 25%);
$secondary-lightest: lighten($secondary, 50%);
$secondary-dark: darken($secondary, 10%);
$secondary-darker: darken($secondary, 25%);
$secondary-darkest: darken($secondary, 50%);